<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2825&q=80);">
  <div class="container">
    <h1>Save your movies here!</h1>
    <p>Add any movie to a list for later.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<h2>My Lists</h2>

<div class="container mt-2">
  <div class="row">
      <% @lists.each do |list| %>
        <div class="col-4 mt-3" >
          <div class="card">
            <%= link_to list_path(list) do %>
              <%= list.name %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<%= link_to new_list_path do %>
  <i class="fa fa-plus"></i> Create new list
<% end %>
